body {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    color: #4E4E4E;
    margin-top: 90px;
    margin-bottom: 26px;
}
footer {
    background-color: #22353F;
    text-align: center;
}
.container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.header {
     background-image: url(../images/background/section-1\(header\).jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     color: #ffffff;
     position: relative;
     z-index: 0;
}
.nav-bg {
    background-color: rgba(94, 93, 88, 0.6);
    margin-bottom: 264px;
}
.nav {
    display: flex;
}
.logo {
    color: #ffffff;
    display: flex;
    align-items: center;
}
.logo-icon {
    background-image: url(../icons/hexagon.png);
    background-repeat: no-repeat;
    width: 58px;
    height: 67px;
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    text-align: center;
    padding-top: 18px;
    text-transform: uppercase;
    margin-right: 6px;
}
.logo-text {
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
    margin-top: 37px;
    margin-bottom: 37px;
}
.logo-text > .accent-color {
    font-weight: 700;
    color: #18CFAB;
}
.menu {
    margin-left: auto;
    display: flex;
    align-items: stretch;
    text-transform: uppercase;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.menu-item {
    padding-top: 49px; 
}
.menu-link {
    color: #ffffff;
    opacity: 0.6;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-right: 21px;
    padding-bottom: 49px;
    transition: 0.5s;
}
.menu-link:hover {
    color:#18CFAB;
    opacity: 1;
    border-bottom: 2px solid #18CFAB;
}
.header-content {
    text-align: center;
}
.head {
    font-weight: 700;
    font-size: 35px;
    color: #ffffff;
    line-height: 35px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 22px;
}
.head > .accent-color {
    color: #18CFAB;
}
.content-creative {
    font-weight: 700;
    font-size: 78px;
    line-height: 78px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 22px;
}
.content-buy {
    font-size: 34px;
    line-height: 34px;
    color: #D4D4D4;
    margin-top: 0;
    margin-bottom: 129px;
}
.buttons-wrap {
   padding-bottom: 243px;
}
.buttons {
    width: 169px;
    height: 68px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 26px;
    text-transform: uppercase;
    background-color: #18CFAB;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: relative;
}
.buttons:nth-child(2) {
    background-color: #00CBF6;
}
.buttons::before {
    content: "";
    background-color: #ffffff;
    width: 169px;
    height: 68px;
    position: absolute;
    top: -5px;
    left: 0;
    border-radius: 5px;
    z-index: -1;
}
.our-advantages {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.advantages {
    text-align: center;
    text-transform: uppercase;
}
.advantages > h3 {
    margin-bottom: 110px;
}
.advantages-bg-dark {
    background-color:#1C2A33;
    color:#18CFAB;
}
.advantages-bg-light {
    background-color: #18CFAB;
    color:#ffffff;
}
.advantages-bg-dark > img {
    margin: 97px auto 49px auto;
}
.advantages-bg-light > img {
    margin: 106px auto 59px auto;
}
.separator {
    border: none;
    width: 75px;
    border-bottom: 1px solid #18CFAB;
    margin-bottom: 74px;
    position: relative;
}
.separator::after {
    content: "";
    width: 75px;
    border-bottom: 1px solid #18CFAB;
    position: absolute;
    top: 3px;
    left: 12px;
}
.services-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-bottom: 28px;
    height: 72px;
    list-style: none;
    padding-left: 0;
}
.services-tab-title {
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    color: #717171;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: .5s;
}
.services-tab-title:hover {
    border: 1.5px solid #18CFAB;
    cursor: pointer;
}
.active-title {
    background-color: #18CFAB;
    color: #ffffff;
    border: 1.5px solid #18CFAB;
    position: relative;
    transition: 1s;
}
.active-title::after {
    content: "";
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #18CFAB;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%);
    transition: 1s;
}
.services-info-wrap {
    position: relative;
    margin-bottom: 90px;
    padding-left: 0;
    list-style: none;
}
.services-info {
    display: flex;
    color: #777777;
    opacity: 0;
    transition: 1s;
    position: absolute;
    top: 0;
    left: 0;
}
.active-services {
    opacity: 1;
    position: relative;
}
.services-info-img {
    margin-right: 15px;
    width: 192px;
    height: 139px;
}
.services-info-text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 13.7px;
    line-height: 24px;
}
.purchase-now {
    background-image: url(../images/background/section-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    z-index: 0;
}
.blackout {
    background-color: rgba(0, 0, 0, 0.78);
    position: relative;
    z-index: 0;
}
.purchase-now-head {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 126px;
    margin-top: 0;
    margin-bottom: 12px;
}
.purchase-now-text {
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
    margin-bottom: 67px;
}
.purchase-now-button {
    margin-bottom: 127px;
}
.our-amazing-work {
    background-color:#E9EDEF;
    text-align: center;
    padding-bottom: 100px;
}
.our-work-head {
    margin-top: 0;
    padding-top: 95px;
}
.our-work-menu{
    display: flex;
    justify-content: center;
    height: 58px;
    margin-bottom: 70px;
    padding-left: 0;
    list-style: none;
}
.our-work-list {
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    padding-top: 7px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #DADADA;
    transition: .5s;
}
.our-work-list:first-child {
    padding-left: 27px;
    padding-right: 27px;
}
.our-work-list:hover {
    border: 1.5px solid #18CFAB;
    cursor: pointer;
}
.active-tab-work {
    color: #18CFAB;
    border: 1.5px solid #18CFAB;
}
.our-works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 5px;
    align-items: flex-start;
    gap: 5px 5px;
    margin-bottom: 70px;
    height: 645px;
    overflow: hidden;
    padding-left: 0;
    list-style: none;
}
.our-works-card {
    width: 285px;
    height: 211px;
    position: relative;
    z-index: 0;
    display: none;
}
.visible {
    display: block;
}
.card-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.our-works-card:hover > .card-photo {
    z-index: -1;
    opacity: 0;
}
.our-work-item {
    border-top: 2px solid #18CFAB;
}
.our-work-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 46px;
    margin-bottom: 38px;
}
.chain-circle {
    width: 40px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square-circle {
    width: 40px;
    height: 40px;
    background-color: #18CFAB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square {
    width: 12px;
    height: 12px;
    background-color: #FFFFFF;
}
.our-work-info {
    display: block;
    font-weight: 700;
    font-size: 14.18px;
    line-height: 15px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 0;
    margin-bottom: 15px;
}
.our-work-text {
    font-weight: 300;
    font-size: 12.15px;
    line-height: 12px;
    color: #8A8A8A;
    margin-top: 0;
    margin-bottom: 0;
}
.load-more-btn {
    width: 169px;
    height: 68px;
    padding: 16px 20px 16px 50px;
    text-transform: uppercase;
    background-color: #18CFAB;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-image: url(../icons/plus.svg);
    background-position: 23px;
    background-repeat: no-repeat;
}
.breaking-news-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 35px 35px;
    margin-bottom: 130px;
}
.breaking-news-card {
    text-align: center;
}
.breaking-news-link {
    position: relative;
}
.breaking-news-link:hover > .breaking-news-date {
    background-color: #18CFAB;
}
.breaking-news-link:hover > .breaking-news-card-name {
    color: #18CFAB;
}
.breaking-news-photo {
    width: 263px;
    height: 208px;
}
.breaking-news-date {
    width: 70px;
    height: 70px;
    background-color: #203E38;
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding-top: 10px;
    transition: 1s;
}
.breaking-news-card-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    color: #717171;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 1s;
}
.breaking-news-post {
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
    color: #777777;
    margin-top: 0;
    margin-bottom: 0;
}
.about-hum {
    background-image: url(../images/background/section-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 100px;
}
.about-hum-head {
    color: #ffffff;
    padding-top: 100px;
    margin-top: 0;
}
.quot {
    width: 44px;
    height: 30px;
    margin: 67px auto 35px auto;
}
.review-slider {
    margin-bottom: 60px;
}
.user-feedback {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    margin-bottom: 37px;
    height: 100px;
}
.user-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    text-transform: uppercase;
}
.user-specialty {
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
    margin-bottom: 37px;
}
.user-photo-wrap {
    width: 166px;
    height: 166px;
    border-radius: 50%;
    border: 12px solid rgba(31, 218, 181, 0.2);
    margin: 0 auto;
    overflow: hidden;
}
.user-photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 143px;
    height: 143px;
}
.photo-user-1 {
    background-image: url(../images/face1.jpg);
}
.photo-user-2 {
    background-image: url(../images/face2.jpg);
}
.photo-user-3 {
    background-image: url(../images/face3.jpg);
}
.photo-user-4 {
    background-image: url(../images/face4.jpg);
}
.photo-user-5 {
    background-image: url(../images/face5.jpg);
}
.photo-user-6 {
    background-image: url(../images/face6.jpg);
}
.mini-slider {
    width: 380px;
    z-index: 11;
}
.image-mini-slider-wrap {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid rgba(31, 218, 181, 0.2);
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}
.image-mini-slider {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
}
.swiper-slide {
    padding-top: 10px;
}
.swiper-slide-thumb-active {
    padding-top: 0;
}
.swiper-button-prev::after, .swiper-button-next::after {
    content: none;
}
.arrow-slider {
    width: 480px;
    position: relative;
    top: -50px;
}
.arrow-slider-wrap{
    height: 45px;
    padding-top: 0;
}
.arrow-wrap {
    background: transparent;
    width: 34px;
    height: 34px;
    border: 1px solid #BBBBBB;
    cursor: pointer;
    transition: 1s;
}
.arrow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.arrow > path {
    transition: 1s;
}
.arrow-wrap:hover {
    background-color: #18CFAB;
}
.arrow-wrap:hover > .arrow > path {
    fill: #ffffff;
}
.copyright {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 48px;
    padding-bottom: 48px;
}

